.game-canvas-container {
    display: flex;
    justify-content: center;
}

#game-canvas {
    height: 800px;
    width: 1500px;
    border: 5px solid black;
}

.score {
    display: flex;
    justify-content: center;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
}