// game
#game-canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-canvas {
    width: 1100px;
    height: 600px;
    border-radius: 10px;
}

#timer {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}   

#scores{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
}

#score {
    display: flex;
    justify-content: center;
}

#high-score {
    display: flex;
    justify-content: center;
}

#buttons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1100px;
    height: 4rem;
}

#buttons-container > div {
    width: 40%;
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: space-evenly;
}

#buttons-container > div > button {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid black;
}

//splash page
#splash-page {
    height: 100%;
    width: 100%;
    background-image: url("../src/images/starting_background.png");
    background-size: cover;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#splash-page > h1 {
    font-size: 5rem;
    font-style: bolder;
}

#game-options-container {
    display: flex;
    justify-content: space-evenly;
}

#game-options-container > input {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    border-radius: 10px;
    border: 1px solid black;
}

#splash-page-button-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#splash-page-button-container > input {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    border-radius: 10px;
    border: 1px solid black;
}

#instruction-button-container {
    display: flex;
    justify-content: center;
}

#instruction-button-container > input {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    border-radius: 10px;
    border: 1px solid black;
}

#splash-page-button-container > div > input:hover {  
    cursor: pointer;
}

#splash-page-button-container > input:hover {
    cursor: pointer;
}

#instructions-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

#instructions-container > input {
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid black;
}

#instruction-button {
    width: 50%;
}

#instructions-container > input:hover {
    cursor: pointer;
}   

#instructions {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    overflow: scroll;
    overflow-x: hidden;
}

#post-game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#game-over {
    font-family: 'Kanit', sans-serif;
    font-size: 6rem;
    font-weight: bold;
}

#score-overview {
    font-family: 'Kanit', sans-serif;
    font-size: 2.5rem;
    text-align: center;
}

#restart-button {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    border-radius: 10px;
    border: 1px solid black;
}

#media-container {
    display: flex;
    justify-content: space-evenly;
}

#media1 {
    border: none;
    width: 300px;
    height: 170px;
    background-image: url("../src/images/github.png");
    background-size: cover;
}

#media2 {
    border: none;
    width: 300px;
    height: 170px;
    background-image: url("../src/images/linkedin.png");
    background-size: cover;
}

#media-container > button:hover {
    cursor: pointer;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}